@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beer_Quest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 65px;">
            <a class="navbar-brand" href="#" style="width: 85px;"><img src="~/Images/OverProject.png" style="width:80px; height:70px; margin-top: -10px;"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Breweries" asp-action="Index">Breweries</a>
                    </li>
                    @if (user != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cheers" asp-action="Index">My Cheers</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
                <form asp-controller="Breweries" asp-action="Index">
                    <div class="input-group">
                        <input type="text" name="searchString" class="form-control" placeholder="Search by city or brewery name" />
                        <span class="input-group-btn">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </span>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 main-home">
            @RenderBody()
        </main>
    </div>

    <div class="footer-parent">
        <footer class="border-top navbar-dark bg-dark" >
            <div class="container footer-item">
                &copy; 2020 - Beer_Quest - <a class="footer-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
