@{
    ViewData["Title"] = "Home Page";
}


<div class="card card-home text-center homeBody title-block">
    <h1 class="display-4 title-text">Beer Quest</h1>
    ------------------------------------------------
    <p>Welcome to Beer Quest! Looking for a brewery to enjoy? Start your search here!</p>
</div>
<div class="card card-home text-center homeBody">
    <h2>FAQ</h2>
    --------------
    <h5>Q: What is Beer Quest?</h5>
    <p>
        A: Beer Quest is here to help you find your favorite spot for fun!
        If your looking to kick a cold one back with the boys or if you're on a date with your future wife,
        use Beer Quest to find the best spot to kick it back!
    </p>
    --------------
    <h5>Q: How does it work?</h5>
    <p>
        A: All you do is enter the City, Zip, or Name of brewery and we will do the rest!
    </p>
    --------------
    <h5>Q: If i really like a place, is there a way to save it for later?</h5>
    <p>
        A: Glad you asked! You can 'Cheers' your favorite spots! Then you can view your 'Cheered' spots all at your convenience!
    </p>
</div>
