@{
    ViewData["Title"] = "Home Page";
}

<div class="home-div">

    <div class="card card-home text-center homeBody title-block">
        <h1 class="display-4 title-text logo-title" ><img src="~/Images/OverProject.png" class="logo-img"/></h1>
        <p class="title-text-info logo-p">------------------------------------------------</p>
        <p class="title-text-info">Welcome to Beer Quest! Looking for a brewery to enjoy? Start your search here! We hope you enjoy!</p>
    </div>
    <div class="card card-home text-center homeBody ">
        <h2 class="title-text-info">FAQ</h2>
        <p class="title-text-info">
            <a href="C:\Users\OWNER\workspace\Beer-Quest\Beer-Quest\Views\Home\Index.cshtml">C:\Users\OWNER\workspace\Beer-Quest\Beer-Quest\Views\Home\Index.cshtml</a>
            --------------
        </p>
        <h5 class="title-text-info">Q: What is Beer Quest?</h5>
        <p class="title-text-info">
            A: Beer Quest is here to help you find your favorite spot for fun!
            If your looking to kick a cold one back with the boys or if you're on a date with your future wife,
            use Beer Quest to find the best spot to kick it back!
        </p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Q: How does it work?</h5>
        <p class="title-text-info">
            A: All you do is enter the City, Zip, or Name of brewery and we will do the rest!
        </p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Q: If i really like a place, is there a way to save it for later?</h5>
        <p class="title-text-info">
            A: Glad you asked! You can 'Cheers' your favorite spots! Then you can view your 'Cheered' spots by clicking 'My Cheers' all at your convenience!
        </p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Q: What's a 'Cheers'?</h5>
        <p class="title-text-info">
            A: A 'Cheers' is our way of giving a brewery you liked some support! Look at it as a 'Like' button on facebook or twitter. The more likes, the more people are recomended to that brewery! So what you waiting for! Go give your favorite breweries a 'Cheers'!
        </p>
        --------------
        <h5 class="title-text-info">Q: Can i search using my location?</h5>
        <p class="title-text-info">
            A: In a future version this dream will come true, stick with us why we fight throught the stone age of our wepsite 😁
        </p>
        --------------
        <h5 class="title-text-info">Q: Is there a way i can leave a review about the place i have visited?</h5>
        <p class="title-text-info">
            A: Yup! You have the ability to leave a comment (good or bad) about any brewery in our system as long as you are signed into your account! Here at Beer Quest we leave all comments that are appropriate up for anyone to view! We wanna know the truth on what you think!
        </p>
        --------------
        <h5 class="title-text-info">Q: What if a brewery isnt on here? Anyway to add them in?</h5>
        <p class="title-text-info">
            A: Great question! You can always send in request to get a brewery added by emailing it to dontforgetme@beerquest.com! We look forward to hearing from you!
        </p>        --------------
        <h5 class="title-text-info">Q: How can we be informed about upcoming updates and features?</h5>
        <p class="title-text-info">
            A: You can checkout out future updates on the 'Upcomings' page!
        </p>
    </div>
</div>
