@{
    ViewData["Title"] = "Home Page";
}

<div class="home-div">

    <div class="card card-home text-center homeBody title-block">
        <h1 class="display-4 title-text logo-title" ><img src="~/Images/OverProject.png" style="width:250px; height: 250px; margin-top: -50px; margin-right: 20px;"/></h1>
        <p class="title-text-info" style="margin-top: 60px;">------------------------------------------------</p>
        <p class="title-text-info">Welcome to Beer Quest! Looking for a brewery to enjoy? Start your search here!</p>
    </div>
    <div class="card card-home text-center homeBody ">
        <h2 class="title-text-info">FAQ</h2>
        <p class="title-text-info">
            <a href="C:\Users\OWNER\workspace\Beer-Quest\Beer-Quest\Views\Home\Index.cshtml">C:\Users\OWNER\workspace\Beer-Quest\Beer-Quest\Views\Home\Index.cshtml</a>
            --------------
        </p>
        <h5 class="title-text-info">Q: What is Beer Quest?</h5>
        <p class="title-text-info">
            A: Beer Quest is here to help you find your favorite spot for fun!
            If your looking to kick a cold one back with the boys or if you're on a date with your future wife,
            use Beer Quest to find the best spot to kick it back!
        </p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Q: How does it work?</h5>
        <p class="title-text-info">
            A: All you do is enter the City, Zip, or Name of brewery and we will do the rest!
        </p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Q: If i really like a place, is there a way to save it for later?</h5>
        <p class="title-text-info">
            A: Glad you asked! You can 'Cheers' your favorite spots! Then you can view your 'Cheered' spots by clicking 'My Cheers' all at your convenience!
        </p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Q: What's a 'Cheers'?</h5>
        <p class="title-text-info">
            A: A 'Cheers' is our way of giving a brewery you liked some support! Look at it as a 'Like' button on facebook or twitter. The more likes, the more people are recomended to that brewery! So what you waiting for! Go give your favorite breweries a 'Cheers'!
        </p>
        --------------
        <h5 class="title-text-info">Q: Can i search using my location?</h5>
        <p class="title-text-info">
            A: In a future version this dream will come true, stick with us why we fight throught the stone age of our wepsite 😁
        </p>
    </div>
</div>
