@{
    ViewData["Title"] = "Home Page";
}


    <div class="card card-home text-center homeBody">
        <h1 class="display-4">Beer Quest</h1>
        <p>Welcome to Beer Quest! Looking for a brewery to enjoy? Start your search here!</p>
        <div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

        </div>
    </div>
