
@{
    ViewData["Title"] = "Upcomings";
}

<div class="home-div">

    <div class="card card-home text-center homeBody title-block">
        <h1 class="display-4 title-text logo-title"><img src="~/Images/OverProject.png" class="logo-img" /></h1>
        <p class="title-text-info logo-p"></p>
    </div>
    <div class="card card-home text-center homeBody ">
        <h2 class="title-text-info">Upcomings</h2>
        <p style="color:ghostwhite;">Here you can see what is new, whats gonna be new, and what we have planned for the future! Make sure you come back and keep updated!</p>
        <p class="title-text-info">
            <a href="C:\Users\OWNER\workspace\Beer-Quest\Beer-Quest\Views\Home\Index.cshtml"></a>
            _____________________________________________________________
        </p>
        <h5 class="title-text-info">Adding new breweries weekly!</h5>
        <p class="title-text-info">
            Make sure you keep up to date on the new breweries! We will also be creating a page that will host all the new breweries that we have added! Make sure you go show them some love and support!
        </p>
        <p class="title-text-info">Patch Date: TBD</p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">New and improved cheering system</h5>
        <p class="title-text-info">
            We are in the works of a new and improved cheering system that will allow users to cheer not only breweries you love, but also your favorite beverages at anyplace that have their menu online!
        </p>
        <p class="title-text-info">Patch Date: TBD</p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Need directions?</h5>
        <p class="title-text-info">
            Here at Beer Kings, we are all about finding ways to improve our app so you have the easiest and most enjoyable experience while using it. With that being said you will be able to find the location of a brewery and directions to get there in the click of a button!
        </p>
        <p class="title-text-info">Patch Date: TBD</p>
        <p class="title-text-info">
            --------------
        </p>
        <h5 class="title-text-info">Got Feedback?</h5>
        <p class="title-text-info">
            If you have any feedback, improvments, or even things you think we should ditch you will soon be able to let us know with the new feedback feature. You guys are who keep driving us to improving our app and want to know what you think!
        </p>
        <p class="title-text-info">Patch Date: TBD</p>
        <p class="title-text-info">--------------</p>
        <h5 class="title-text-info">Brewery Admin Notifactions</h5>
        <p class="title-text-info">
            Brewery admins will soon be able to recive notifactions when a user cheers a brewery (or soon a beverage) letting them know you all are supporting them!
        </p>
        <p class="title-text-info">Patch Date: TBD</p>
    </div>
</div>
