/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: ghostwhite !important;
    height: 65px !important;
}

/* Provide sufficient contrast against white background */
a {
    color: ghostwhite !important;
    
}

.cheersButton {
    background-image: url(~/Images/CheersButton.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    /* put the height and width of your image here */
    height: 50px !important;
    width: 200px !important;
    border: none !important;
}

.image-button {
    max-height: 150px !important;
    max-width: 150px !important;
    border-radius: 15px !important;
}

button span {
    display: none !important;
}

.cheers-button-form {
    margin-left: 15px !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.btns {
    border-radius: 15px !important;
    border-color: #033E76 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.img-thumbnail {
    margin-left: 18px !important;
}

.card-header-footer {
    background-color: #034381 !important;
    color: ghostwhite !important;
    margin: 5px;
    border: 5px;
    border-radius: 25px !important;
}

.card {
    background-color: #0388A6 !important;
    border: solid 5px !important;
    border-color: #033E76 !important;
    border-radius: 25px !important;
}

.create-card-div {
    display: flex;
    place-content: center;
}

.create-card {
    width: 50%;
    background-color: #0388A6 !important;
    border: solid 5px !important;
    border-color: #033E76 !important;
    border-radius: 25px !important;
}

.card-items {
    background-color: transparent !important;
    color: ghostwhite !important;
}

.home-div {
    text-align: -webkit-center;
}
/*.card-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    max-width: 50%;
}*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: fixed;
    background-image: url("../Images/ImagefromiOS.jpg") !important;
    background-position: center;
    background-size: 100% !important;
    background-repeat: no-repeat;
}
.homeBody {
    width: 50% !important;
    /*height: 200px !important;*/
    margin: 20px;
    border: solid 5px !important;
    border-radius: 50px !important;
    border-color: #034381 !important;
}

.title-block {
    height: 300px !important;
    justify-content: space-evenly;
}

.title-text {
    color: ghostwhite !important;
    font-size: 5em !important;
}

.title-text-info {
    color: ghostwhite !important;
}

.logout {
    color: ghostwhite !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer-item {
    color: ghostwhite !important;
}

.card-divs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.comment-form {
    margin: 15px;
}

.create-brewery-wrapper {
    display: flex;
    place-content: center;
}

.create-brewery-button {
    border: solid 5px !important;
    border-radius: 15px !important;
    border-color: #034381 !important;
    background-color: #0388A6 !important;
    width: 20%;
    margin-top: 15px;
    height: 38px !important;
}