@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="create-card-div" style="margin: 10px;">
    <div class="create-card">
        <h3 class="card-header card-header-footer">Login</h3>
        <div class="row">
            <div style="width: 50%; margin-left: 40px;">
                <form id="account" method="post">
                    <h4 style="color: ghostwhite;">Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" style="color: ghostwhite;"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" style="color: ghostwhite;"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" style="color: ghostwhite;">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btns" style="background-color: #034381; color:ghostwhite;">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body card-header-footer">
            <a asp-action="Details" asp-controller="Breweries" asp-route-id="@ViewBag.BreweryId">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
