@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="create-card-div" style="margin: 10px;">
    <div class="create-card">
        <h3 class="card-header card-header-footer">Register</h3>
        <div class="row">
            <div style="width: 50%; margin-left: 40px;">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4 style="color: ghostwhite;">Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.DateOfBirth"></label>
                        <input asp-for="Input.DateOfBirth" />
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.UserTypeId" type="hidden" value="3" />
                    </div>
                    <button type="submit" class="btn btns" style="background-color: #034381; color:ghostwhite;">Register</button>
                </form>
            </div>
        </div>

        <div class="card-body card-header-footer">
            <a asp-action="Details" asp-controller="Breweries" asp-route-id="@ViewBag.BreweryId">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
